{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Chat and Video Demo</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    </head>
    <body>
        <textarea id="dataChannelSend" disabled placeholder="Please Start, enter some text, then press Send"></textarea>
        <textarea id="dataChannelReceive" disabled></textarea>

        <div id="buttons">
            <button id="startButton">Start</button>
            <button id="sendButton">Send</button>
            <button id="closeButton">Stop</button>
        </div>
        <script type="text/javascript" src="{%  static 'main/javascripts/lib/adapter.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/javascripts/main-chat.js' %}"></script>
    </body>
</html>